@model UCP1PraktikumPAW.Models.JasaKirim

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>JasaKirim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJasaKirim" />
            <div class="form-group">
                <label asp-for="NamaJasaKirim" class="control-label"></label>
                <input asp-for="NamaJasaKirim" class="form-control" />
                <span asp-validation-for="NamaJasaKirim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrder" class="control-label"></label>
                <select asp-for="IdOrder" class="form-control" asp-items="ViewBag.IdOrder"></select>
                <span asp-validation-for="IdOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalDiterima" class="control-label"></label>
                <input asp-for="TanggalDiterima" class="form-control" />
                <span asp-validation-for="TanggalDiterima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisLayanan" class="control-label"></label>
                <input asp-for="JenisLayanan" class="form-control" />
                <span asp-validation-for="JenisLayanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HargaJasa" class="control-label"></label>
                <input asp-for="HargaJasa" class="form-control" />
                <span asp-validation-for="HargaJasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
