@model UCP1PraktikumPAW.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCustomer" class="control-label"></label>
                <input asp-for="IdCustomer" class="form-control" />
                <span asp-validation-for="IdCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaCustomer" class="control-label"></label>
                <input asp-for="NamaCustomer" class="form-control" />
                <span asp-validation-for="NamaCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCustomer" class="control-label"></label>
                <input asp-for="EmailCustomer" class="form-control" />
                <span asp-validation-for="EmailCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlamatCustomer" class="control-label"></label>
                <input asp-for="AlamatCustomer" class="form-control" />
                <span asp-validation-for="AlamatCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoHpCustomer" class="control-label"></label>
                <input asp-for="NoHpCustomer" class="form-control" />
                <span asp-validation-for="NoHpCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
